# Use Text install
text

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Installation source (offline repo from the live image)
url --url=file:///opt/azl-offline-repo/
repo --name=azl-offline --baseurl=file:///opt/azl-offline-repo/

# Network information
network --bootproto=dhcp --device=link --hostname=get_hostname.get_ipv4_domain

%packages --nocore
audit
azurelinux-release
azurelinux-repos
bash
ca-certificates
chrony
coreutils
cracklib-dicts
cryptsetup
dnf5
efibootmgr
firewalld
glibc
glibc-langpack-en
grub2
grub2-efi-x64
grub2-efi-x64-modules
iproute
kernel
kernel-modules
openssh-clients
openssh-server
selinux-policy-targeted
setup
shadow-utils
shim
sudo
systemd
systemd-networkd
systemd-resolved
util-linux
vim-minimal
bash-completion
curl
%end

# Do not configure the X Window System
skipx

# File System Creation
ignoredisk --only-use=get_disk_type_for_the_vm
clearpart --all --initlabel
bootloader --append="console=ttyS0,115200 console=tty0" --location=mbr --boot-drive=get_disk_type_for_the_vm
part /boot/efi --label=FIRMWARE --size=600  --fstype=efi
part /boot     --label=BOOT     --size=1024 --fstype=xfs
part /         --label=ROOT     --size=1024 --grow --fstype=xfs

selinux  --disabled
firewall --disabled

timesource --ntp-pool=get_lab_infra_server_hostname
# System timezone
timezone UTC --utc

# Root password
rootpw --iscrypted get_shadow_password_super_mgmt_user
user --groups=wheel --name=get_mgmt_super_user --password=get_shadow_password_super_mgmt_user --iscrypted --gecos="get_mgmt_super_user"

# Reboot after installation
reboot

# POST-INSTALLATION SCRIPT
%post --interpreter=/usr/bin/bash --log=/root/original-ks-post.log --erroronfail
curl -sf http://get_lab_infra_server_hostname/ksmanager-hub/kickstarts/get_hostname.get_ipv4_domain/post-install.sh -o /root/tux2lab-post-install.sh
chmod 700 /root/tux2lab-post-install.sh
/root/tux2lab-post-install.sh
%end
