# Use Text install
text
# Use Graphical install
#graphical

%addon com_redhat_kdump --disable

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
# Use DHCP during install to keep NFS stage2 mount alive.
# Static IP is configured in %post via NetworkManager keyfile.
network --bootproto=dhcp --device=link --hostname=get_hostname.get_ipv4_domain

%packages
@^minimal-environment
vim
bash-completion
nfs-utils
bind-utils
tmux
wget
tar
rsync
sysstat
tcpdump
traceroute
nc
lsof
systemd-resolved
cloud-utils-growpart
-kdump-utils
-lvm2
%end

# Run the Setup Agent on first boot
firstboot --enable

# File System Creation
ignoredisk --only-use=get_disk_type_for_the_vm
clearpart --all --initlabel
bootloader --location=mbr --boot-drive=get_disk_type_for_the_vm
part /boot/efi --label=FIRMWARE --size=128  --fstype=efi
part /boot     --label=BOOT     --size=512  --fstype=xfs
part /         --label=ROOT     --size=1024 --grow --fstype=xfs

selinux  --disabled
firewall --disabled

timesource --ntp-pool=get_lab_infra_server_hostname
# System timezone
timezone UTC --utc

# Root password
rootpw --iscrypted get_shadow_password_super_mgmt_user
user --groups=wheel --name=get_mgmt_super_user --password=get_shadow_password_super_mgmt_user --iscrypted --gecos="get_mgmt_super_user"

eula --agreed

# POST-INSTALLATION SCRIPT
%post --interpreter=/usr/bin/bash --log=/root/original-ks-post.log --erroronfail
curl -sf http://get_lab_infra_server_hostname/ksmanager-hub/kickstarts/get_hostname.get_ipv4_domain/post-install.sh -o /root/tux2lab-post-install.sh
chmod 700 /root/tux2lab-post-install.sh
/root/tux2lab-post-install.sh
%end

reboot
