{
  "Control-agent": {
    "http-host": "127.0.0.1",
    "http-port": 8000,

    "authentication": {
      "type": "basic",
      "realm": "Kea Control Agent",
      "clients": [
        {
          "user": "kea-api",
          "password": "{{ kea_ctrl_agent_password }}"
        }
      ]
    },

    "control-sockets": {
      "dhcp4": {
        "socket-type": "unix",
        "socket-name": "{{ kea_run_dir }}/kea4-ctrl-socket"
      },
      "dhcp6": {
        "socket-type": "unix",
        "socket-name": "{{ kea_run_dir }}/kea6-ctrl-socket"
      }
    }
  }
}
