{
  "Dhcp4": {
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "/run/kea/kea4-ctrl-socket"
    },
    "interfaces-config": {
      "interfaces": [ "{{ ansible_facts.env.mgmt_interface_name }}" ]
    },
    "lease-database": {
      "type": "memfile"
    },
    "valid-lifetime": 3600,
    "renew-timer": 900,
    "rebind-timer": 1800,
    "hooks-libraries": [
      {
        "library": "/usr/lib64/kea/hooks/libdhcp_lease_cmds.so"
      }
    ],
    "subnet4": [
      {
	"id": 1,
        "subnet": "{{ ansible_facts.env.dnsbinder_network_cidr }}",
        "pools": [
          {
            "pool": "{{ ansible_facts.env.dnsbinder_last24_subnet }}.156 - {{ ansible_facts.env.dnsbinder_last24_subnet }}.254"
          }
        ],
        "option-data": [
          {
            "name": "routers",
            "data": "{{ ansible_facts.env.dnsbinder_gateway }}"
          },
          {
            "name": "domain-name-servers",
            "data": "{{ ansible_facts.env.dnsbinder_server_ipv4_address }}"
          },
          {
            "name": "domain-name",
            "data": "{{ ansible_facts.env.dnsbinder_domain }}"
          },
          {
            "name": "domain-search",
            "data": "{{ ansible_facts.env.dnsbinder_domain }}"
          },
          {
            "name": "broadcast-address",
            "data": "{{ ansible_facts.env.dnsbinder_broadcast }}"
          }
        ],
        "next-server": "{{ ansible_facts.env.dnsbinder_server_ipv4_address }}",
        "boot-file-name": "ipxe.efi"
      }
    ]
  }
}
